*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea
/turbojpeg/src/main/obj
/turbojpeg/src/main/libs
/base/libyuv/src/main/cpp/build
/base/turbojpeg/src/main/cpp/build
